/* * {box-sizing:border-box;} */

.title {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.container {
        max-width: 1024px;
}

.cat-image-div {
    align: center;
}

.cat-image {
    width: 200px;
}